# Copier ce fichier en .env sur le serveur et remplir les valeurs

SECRET_KEY=GENERER_AVEC_python_manage.py_shell
DEBUG=False
ALLOWED_HOSTS=TON_IP_OU_DOMAINE

DB_PASSWORD=CHOISIR_UN_MOT_DE_PASSE_FORT

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=ton@email.com
DJANGO_SUPERUSER_PASSWORD=CHOISIR_UN_MOT_DE_PASSE_FORT

ANTHROPIC_API_KEY=sk-ant-...
WA_WEBHOOK_VERIFY_TOKEN=ton_token
WA_APP_SECRET=ton_secret_meta

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

VAPID_PUBLIC_KEY=BDHKxRKN56a9a7cp9iV_jAUaeyWNbXl7UJzz0KCfcI41_bmQDY9Js5Yl2ksoSZfUdOxoRJ13ciuvl7T2tqmIKSk
VAPID_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nMIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQg1DehcrjH97bmPzac\nTOU7HJVYxxd0kK78t76fwevlZNmhRANCAAQxysUSjeemvWu3KfYlf4wFGnsljW15\ne1Cc89Cgn3CONf25kA2PSbOWJdpLKEmX1HTsaESdd3Irr5e09rapiCkp\n-----END PRIVATE KEY-----
VAPID_CLAIMS_EMAIL=ton@email.com

TIME_ZONE=Africa/Dakar
